img {
    width: 50%;
}

body {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-top: 2%;

    /* background-color: rgb(255, 170, 157) */
    /* background-color: rgb(146, 23, 2) */
    }